[Unit]
Description=Vaultwarden Service
After=network.target

[Service]
Type=forking
User=3000
Group=3000
EnvironmentFile=/usr/local/vaultwarden/.env
WorkingDirectory=/usr/local/vaultwarden
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/vaultwarden/vaultwarden.sh start
ExecStop=/usr/local/vaultwarden/vaultwarden.sh stop

[Install]
WantedBy=multi-user.target
